# editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false


このコードは、プロジェクト内のすべてのファイルに対して、エディタの設定を行うための
.editorconfig ファイル。
このファイルには、指定したパターンにマッチするファイルに対して適用される設定を定義できる。

例えば、タブの幅や改行コードなどの設定を定義できる。
また、拡張子によって異なる設定を行うこともできる。

プロジェクト内のすべてのファイルに対して、以下の設定を行っています。

・ファイルのエンコーディングを UTF-8 に指定
・改行コードを LF に指定
・インデントにはスペースを 2 つ使用するように指定
・行末の空白を削除するように指定
・ファイルの最後に空行を挿入するように指定

また、マークダウンファイルに対する例外的な設定も行っており、
マークダウンファイルに対しては、行末の空白を削除しないように指定している。
