*.gem
.bundle
.sass-cache
_site
Gemfile.lock


# このコードは、Gitによるバージョン管理下から除外するファイルを指定するためのもの

# 具体的には、以下のファイルをGitの管理対象外にするための設定を行っている。

# ・*.gem: 拡張子が .gem のファイル
# ・.bundle: .bundle という名前のディレクトリ
# ・.sass-cache: .sass-cache という名前のディレクトリ
# ・_site: _site という名前のディレクトリ
# ・Gemfile.lock: Gemfile.lock という名前のファイル

# これらのファイルやディレクトリは、ソースコード以外の生成物やローカルの環境依存ファイルであり、
# Gitリポジトリに含める必要がないため、.gitignore ファイルで除外することが一般的。
