/*
 * Post menu
 */

.post-menu {
  padding-left: 20px;
  min-width: 200px;
  max-width: 230px;

  .post-menu-title {
    font-size: $base-font-size * 1.5;
    margin-bottom: 14px;
    font-weight: 600;
    color: #222;
  }

  .post-menu-content {
    ul {
      border-left: 1px solid #e9ecef;
      $indent: $base-font-size / 4;
      $active-bgcolor: #ecebec;

      @for $i from 2 to 7 {
        .h-h#{$i} {
          padding-inline-start: $indent + ($i - 2) * $base-font-size * 1.3;
          font-size: $base-font-size * 1.1;
          line-height: 1.4;
        }
      }

      a {
        display: flex;
        padding: 2px 8px;
        color: darken($text-color, 10%);

        * {
          pointer-events: none;
        }

        &:hover {
          text-decoration: none;
          color: lighten($text-color, 20%)!important;
        }
      }

      .active {
        background-color: $active-bgcolor;
        transition: background 0.5s;
        border-left: 2px solid #202020;
        margin-left: -2px;

        &:hover {
          background-color: lighten($active-bgcolor, 2%);
        }

        a {
          color: #121416;
        }
      }
    }
  }
}


// このコードは、Post menuのスタイルを定義している

// .post-menu: Post menu全体に対するスタイルを定義。padding、min-width、max-widthなどを指定。
// .post-menu-title: Post menuのタイトルのスタイルを定義。font-size、margin、font-weight、colorを指定。
// .post-menu-content: Post menuのコンテンツのスタイルを定義。ul要素内のスタイルを指定。
// ul: 箇条書きのリストに対するスタイルを定義。border、$indent、$active-bgcolorなどを指定。
// a: リストのリンクに対するスタイルを定義。display、padding、colorなどを指定。
// .active: アクティブなリスト項目に対するスタイルを定義。background-color、transition、border、margin、
// a要素のcolorなどを指定。また、:hover時のスタイルも定義されている。

