.click-to-top {
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 64px;
  height: 64px;
  border-radius: 32px;
  right: 60px;
  bottom: 48px;
  background: white;
  cursor: pointer;
  opacity: 0;
  transform: translateY(10px);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
  font-size: 24px;
  user-select: none;

  @include media-query(1024px) {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    right: 35px;
    font-size: 20px;
  }

  @include media-query($on-palm) {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    right: 20px;
    font-size: 16px;
  }
}

.click-to-top.show {
  opacity: 1;
  transform: translateY(0);
}

html[data-theme="dark"] {
  .click-to-top {
    background: #34323D;
  }
}

// このコードは、スクロールしてページのトップに戻るためのボタンを作成するスタイルを定義。
// スタイルは、.click-to-topというクラスに適用され、以下のプロパティを設定。

// transition: ボタンが表示される/非表示になるときのアニメーションの時間を設定
// display: ボタンの表示方法を設定
// align-itemsとjustify-content: ボタンを親要素の中央に配置するための設定
// position: ボタンの位置を固定するための設定
// widthとheight: ボタンのサイズを設定
// border-radius: ボタンの角の丸みを設定
// rightとbottom: ボタンの位置を設定
// background: ボタンの背景色を設定
// cursor: ボタンにカーソルを合わせたときのマウスカーソルの形状を設定
// opacityとtransform: ボタンの非表示/表示時の透明度と移動距離を設定
// box-shadow: ボタンに影をつけるための設定
// font-size: ボタンのフォントサイズを設定
// user-select: ボタンを選択できないようにするための設定
// また、.click-to-topクラスにはメディアクエリが2つ含まれており、ブラウザの幅に応じてサイズを
// 変更するためのスタイルが設定されている。

// 最後に、html[data-theme="dark"]セレクタには、ダークモードでの背景色が設定されている。
