.gitment-container {
  color: #787878 !important;
}

.gitment-editor-header {
  background-color: #fefefe;
}

.gitment-comment-main, .gitment-editor-main {
  background-color: #fff;
  border-radius: 3px !important;
}

.gitment-heart-icon {
  fill: #ff0808;
}

// このコードは、GitmentというGitHubのコメントシステムのためのスタイルを定義。

// .gitment-containerは、Gitmentのコメントコンテンツ全体のスタイルを設定するためのクラス。
// このコードでは、テキストのカラーを薄い灰色に設定している。

// .gitment-editor-headerは、コメント投稿欄のヘッダー部分のスタイルを設定するためのクラス。
// このコードでは、背景色を白色に設定している。

// .gitment-comment-mainと.gitment-editor-mainは、それぞれコメント本文のスタイルと
// コメント投稿欄の本文のスタイルを設定するためのクラス。
// このコードでは、背景色を白色に設定し、border-radiusプロパティを使用して角を丸めている。

// .gitment-heart-iconは、Gitmentで使用される「いいね！」アイコンのスタイルを設定するためのクラス。
// このコードでは、fillプロパティを使用して、アイコンの色を赤に設定している。




