<div id="click-to-top" class="click-to-top">
  <i class="fa fa-arrow-up"></i>
</div>
<script>
  (function () {
    const clickToTop = document.getElementById('click-to-top');
    window.addEventListener('scroll', () => {
      if (window.scrollY > 100) {
        clickToTop.classList.add('show')
      }else {
        clickToTop.classList.remove('show')
      }
    });
    clickToTop.addEventListener('click', () => {
      window.smoothScrollTo(0);
    });
  })();
</script>

<!-- 
ページのスクロール位置が100pxより下にある場合には、ページトップに
戻るための「クリックしてトップへ戻る」ボタンを表示。

id属性が "click-to-top" のdiv要素を取得し、ウィンドウの
スクロールイベントを監視して、ウィンドウが100pxスクロールされたら、
"show"クラスを付与してトップに戻るためのボタンを表示。
ボタンがクリックされた場合、smoothScrollTo関数を使用してトップに戻る。
 -->

