{% if include.selector %}
  {% assign selector = include.selector %}
{% endif %}

{% if include.seed %}
  {% assign seed = include.seed %}
{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/geopattern/1.2.3/js/geopattern.min.js"></script>
<script>
  function setRandomBgImage(selector, seed) {
    var pattern = GeoPattern.generate(seed);
    var element = document.querySelector(selector)
    if (element) {
      element.style.backgroundImage = pattern.toDataUrl();
    }
  }

  setRandomBgImage('{{ selector }}', '{{ seed }}');
</script>



<!-- このコードは、Webページの要素にランダムな背景画像を生成するためのもの。
まず、テンプレートの中で include.selector と include.seed の値が存在する場合は、
それらの値をselector と seed 変数に割り当てる。
これは、関数で使用するための指定された要素のセレクターとランダムな背景画像の生成に
必要なシード値を取得するため。（※）

次に、GeoPatternライブラリ（※）を読み込み、setRandomBgImage() 関数を定義する。
この関数は、selectorとseed引数を取り、ランダムな背景画像を生成して、
指定されたセレクターに適用する。（要素の背景画像をランダムなパターンに
設定することで、Webページの外観を改善するための手段）

最後に、setRandomBgImage() 関数を呼び出し、テンプレート内の {{ selector }} と {{ seed }} に
指定された値を渡す。
これにより、JavaScriptコードは実行され、ランダムな背景画像がWebページの要素に適用される。

（※）GeoPattern：
　指定されたシード値に基づいてランダムなSVGパターンを生成するJavaScriptライブラリ。
　オープンソースで、GitHubで公開されている。
　GeoPatternは、多数のプリセットパターンを持ち、背景色、塗りつぶし色、形状、角度などの
　オプションを使用して、生成されるパターンを制御することができる。
　また、パターンの生成時に使用されるアルゴリズムは、可逆的であり、同じシード値が指定されると、
　常に同じパターンが生成されるため、生成されたパターンを再現することができる。
　ランダムなパターン生成により、単調な背景を持つWebページに視覚的な奥行を追加できる。
　また、SVG形式のデータURLを生成するため、パターンをHTML、CSS、JavaScriptのどれでも使用可。
　主にWeb開発者やデザイナーが使用、オンラインアプリケーション、ダッシュボード、プロフィール画像、
　ロゴ、プレゼンテーションなどのデザイン要素に利用されている。 

（※）「セレクター」と「シード」
　GeoPatternライブラリを使用してWebページの背景画像を生成する際に使用されるパラメータ。
　「セレクター」とは、Webページの要素を選択するためのCSSセレクターのこと、Webページの要素を指定。
　このコードでは、GeoPatternが適用される要素を「include.selector」として渡される可能性があるため、
　渡された場合はそれを「selector」として取得し、後で使用される。
　「シード」とは、ランダムなパターンの生成に使用される値のことで、同じシードを使用すると常に同じ
　パターンが生成される。
　このコードでは、「include.seed」として渡される可能性があるため、渡された場合はそれを
　「seed」として取得し、後で使用されます。

-->
