<script>
  function hashLocate(hashValue) {
    hashValue = hashValue.replace(/^.*#h-/, '');
    hashValue = decodeURIComponent(hashValue);
    var element = document.getElementById(hashValue);

    if (!element) {
      return;
    }

    var header = document.querySelector('header.site-header');
    var headerRect = header.getBoundingClientRect();
    var headerTop = Math.floor(headerRect.top);
    var headerHeight = Math.floor(headerRect.height);
    var scrollPos = getScrollPos();
    var offsetY = element.offsetTop - (headerTop + headerHeight + 20);

    if (offsetY == scrollPos.y) {
      return;
    }

    if (headerTop == 0  && offsetY > scrollPos.y) {
      offsetY += headerHeight + 2;
    } else if (headerTop < 0  && offsetY < scrollPos.y) {
      offsetY -= headerHeight - 2;
    }

    smoothScrollTo(offsetY);
  }

  // The first event occurred
  window.addEventListener('load', function(event) {
    if (window.location.hash) {
      hashLocate(window.location.hash);
    }
  });

  // The first event occurred
  window.addEventListener('click', function(event) {
    if (event.target.tagName.toLowerCase() == 'a') {
      hashLocate(event.target.getAttribute('href'));
    }
  });
</script>


<!-- 
このコードは、ページ内リンクのクリックとページの読み込み時に、指定されたハッシュ値に
対応する要素までスクロールする機能を実装するJavaScriptコード。

hashLocate()関数は、指定されたハッシュ値（例えば#h-xxxx）を取得して、
そのIDを持つ要素を取得し、スクロールするためのオフセットを計算。
スクロール位置は、smoothScrollTo()関数を呼び出すことでなめらかに移動。

また、windowオブジェクトに対してloadイベントとclickイベントのリスナーを登録している。
loadイベントは、ページの読み込みが完了した後に、現在のURLにハッシュが含まれている場合に
hashLocate()関数を呼び出し、指定されたハッシュ値に対応する要素までスクロールするために使用される。
clickイベントは、ページ内リンクのクリックを検出して、そのリンクのhref属性に指定された
ハッシュ値に対応する要素までスクロールするために使用される。
 -->
