{%- assign params = include -%}
{%- if params.func -%}
  {%- assign func = params.func -%}
{%- endif -%}

{%- assign include_path = func -%}
{%- assign path_array = include_path | split: '.' -%}
{%- if path_array.size == 1 -%}
  {%- assign include_path = include_path | append: '.html' -%}
{%- endif -%}

{%- if func == 'log' -%}
  {%- include functions/log.html level=include.level msg=include.msg -%}
{%- else -%}
  {%- assign include_path = 'functions/' | append: include_path -%}
  {%- include {{ include_path }} params=params-%}
{%- endif -%}

{%- if return == nil -%}
  {%- assign return = include.default -%}
{%- endif -%}

{%- if func != 'log' -%}
  {%- assign msg = '[function]['
    | append: {{func}}
    | append: '] '
    | append: {{return}}
    -%}
  {%- include functions.html func='log' level='info' -%}
{%- endif -%}



<!--  
　このコードは、指定された関数名（ func ）を含む、関数を呼び出すための
　ジェネリックな方法※を提供。
　params には、関数呼び出しのための引数が含まれる。
　これには、キーバリューペアの連想配列が含まれる。
　例えば、 params.msg にはログメッセージが含まれることがある。

　最初に、 params.func が定義されている場合、 func に値を割り当てる。
　その後、 include_path を割り当て、ドットで分割された func の配列サイズが1である場合、.html を追加。
　params の func が log の場合は、ログファイルを呼び出して関数の実行結果を書き込む。

　func が log でない場合、 include_path に 'functions /' を追加して、引数 params で
　定義された関数を呼び出す。
　このコードスニペットは、いくつかの異なる関数を呼び出すための汎用的な方法を提供するため、
　引数 params は関数に依存する。

　最後に、 return が定義されていない場合は、デフォルトの値に割り当てられる。
　その後、 func が log でない場合、 log 関数が呼び出され、ログレベルやログメッセージが
　パラメーターとして指定された場合はログファイルに書き込まれる。

　※）ジェネリックな方法
　　ある特定の関数だけでなく、複数の関数を呼び出すために共通化された方法のこと。
　　ジェネリックな方法を使用することで、関数を呼び出すために必要な情報を共通化し、
　　同じ方法で複数の関数を呼び出すことができるようになります。
　　
　　このコードでは、paramsという変数に関数名や引数を代入し、funcに関数名を代入し
　　include_pathには、funcの値に応じて、呼び出すファイルのパスが代入される。
　　そして、includeというジェネリックな方法を使用して、include_pathの値に基づいて、
　　特定のファイルを呼び出し、paramsを渡して関数を実行することができる。

-->
