{% if include.paginator %}
  {% assign paginator = include.paginator %}
{% endif %}

{% if paginator.posts.size > 0 %}
  <div class="paginator">
    <span class="previous">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}">Prev</a>
    {% else %}
      <span>Prev</span>
    {% endif %}
    </span>

    <span class="indicator"> {{ paginator.page }}/{{ paginator.total_pages }}</span>

    <span class="next">
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}">Next</a>
    {% else %}
      <span>Next</span>
    {% endif %}
    </span>
  </div>
{% endif %}



<!--  
　このコードは、ページネーション（pagination）を実装するためのもの。
　ページネーションは、一度に表示する投稿の数を制限し、複数ページに分割して表示する方法。
　ページごとの投稿数やページ数、前後のページへのリンクを表示するためのHTMLを生成。

　具体的内容：
　・include変数で指定されたオブジェクト（paginator）が存在する場合に、
　　そのpaginatorオブジェクトをpaginator変数に代入、ページネーションの数が1つ以上ある場合に、
　　前のページ、次のページへのリンクを表示するHTMLを生成。
　・前のページや次のページが存在しない場合は、リンクを無効化し、代わりにPrevやNextのテキストを表示。

-->
