{%- if include.item -%}
  {%- assign item = include.item -%}
{%- endif -%}

{%- assign post = item -%}

{% assign date_format = site.yat.date_format | default: "%b %-d, %Y" %}
<span class="post-meta">{{ post.date | date: date_format }}</span>
<span>
  <a class="post-link" href="{{ post.url | relative_url }}">
    {{ post.title | escape }}
  </a>
</span>


<!--  
　このコードは、引数として渡された include.item の存在を確認し、
　存在する場合は item 変数に代入、
　次に、post 変数に item を代入。
　最後に、post 変数から date プロパティを取得し、その日付を date_format に従って
　フォーマットして表示し、post のタイトルをリンクとして表示するHTMLコードを生成。
　具体的には、以下のようなHTMLを生成。

　<span class="post-meta">記事の日付</span>
　<span>
 　 <a class="post-link" href="記事のURL">記事のタイトル</a>
　</span>

-->
