<header class="post-header">
  <h1 class="post-title p-name" itemprop="name headline">{{ heading | default: page.title | escape }}</h1>
  <h2 class="post-subtitle">{{ subheading | default: page.subtitle | escape }}</h2>

  <p class="post-meta">
    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {%- assign date_format = site.yat.date_format | default: "%b %-d, %Y" -%}
      <i class="fa fa-calendar"></i> {{ page.date | date: date_format }}
    </time>

    {% assign article = page.content %}
    {% assign lang = page.lang %}
    {%- include functions.html func='get_reading_time' -%}
    {% assign reading_time = return %}
    <span class="post-reading-time left-vsplit"><i class="fa fa-clock-o"></i> {{ reading_time }}</span>
  </p>

  {%- if page.tags.size > 0 -%}
  <div class="post-tags">
    {%- for tag in page.tags -%}
    <a class="post-tag" href="{{ '/tags.html ' | relative_url }}#{{tag}}">#{{tag}}</a>
    {%- endfor -%}
  </div>
  {%- endif -%}

</header>


<!--  
　このコードは、ブログポストや記事のヘッダー（見出し）をレンダリングするHTMLを定義。

　・見出しとサブタイトルのタグを設定。
　・投稿日と読み時間を表示。
　・タグがある場合はタグを表示。
　・headingおよびsubheadingはページのフロントマターに定義された変数、それらがある場合は
　　page.titleおよびpage.subtitleの代わりにそれらを使用。
　・{%- assign date_format = site.yat.date_format | default: "%b %-d, %Y" -%}は、
　　日付を表示する際のフォーマットを設定するための変数。
　・functions.htmlファイル内の関数をインクルードして、記事の読み時間を計算。
　・最後に、タグを表示するために、if条件を使用して、page.tags.sizeが0より大きい場合にのみタグを表示。
-->
