{%- if include.keys -%}
  {%- assign keys = include.keys -%}
{%- endif -%}

{%- if include.field -%}
  {%- assign field = include.field -%}
{%- endif -%}

<div class="page-segments">
  <ul class="page-segments-list">
    {% for key in keys %}
    <h2 id="{{ key }}" class="segment-name">{{ key }}</h2>
      {% assign items = site.posts | where: field, key %}
      {% for item in items %}
        {% if item != nil %}
        <li> {% include views/post-item.html %} </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
</div>


<!--  
　このコードは、ページの複数のセグメント（領域）に基づいて、
　それぞれのセグメントに属する投稿をリストアップして表示するためのもの。

　まず、include.keysとinclude.fieldの値をチェックして、それぞれkeysとfieldに代入。
　そして、keysに含まれる各キーをセグメントの名前として表示し、
　そのセグメントに属する投稿を取得して表示。
　site.postsから、fieldとkeyの値に基づいてwhere条件でフィルターされたitemsを取得。
　そして、各itemを順番に表示。
　views/post-item.htmlは、1つの投稿を表示するためのHTMLテンプレートファイルへのパス。


-->
