<a class="site-brand-inner" rel="author" href="{{ "/" | relative_url }}">
  <img class="site-favicon" title="{{ site.title | escape }}" src="{{ site.favicon }}" onerror="this.style.display='none'">
  {{ site.title | escape }}
</a>


<!--  
　このコードは、サイトのブランド名として使用されるロゴと、
　その下にサイトのタイトルを表示するリンクを作成。

　・<a> タグは、クリック可能なリンクを作成。
　・class="site-brand-inner" ：　CSSスタイルシートでスタイルを指定するために使用されるクラス。
　・rel="author" ：　このリンクがサイトの作成者や所有者と関連していることを示すリンク。
　・href="{{ "/" | relative_url }}" ：　サイトのルートページにリンクするように指定されている。
　・<img> タグは、サイトのファビコン※を表示。
　・title="{{ site.title | escape }}" ：マウスオーバー時にタイトルを表示するための属性。
　・src="{{ site.favicon }}" ：　ファビコンの場所を指定。
　・onerror="this.style.display='none'" ：　ファビコンが見つからなかった場合に表示を非表示にする。
　・{{ site.title | escape }} は、サイトのタイトルを表示する変数。
 　| escape フィルターは、タイトルに含まれるHTMLコードがエスケープされることを意味する。

　※）ファビコン（Favicon）
　　ウェブサイトやウェブアプリケーションのブラウザのタブ、ブックマークバー、アドレスバーなどで
　　表示される小さなアイコンのこと。
　　通常、ファビコンは16×16ピクセルから32×32ピクセルのサイズで、PNGやICO形式などで提供される。
　　ウェブサイトのブランディングやアイデンティティを強調するために使用されることが一般的。
　　また、ウェブサイトの信頼性を高めるためにも使用される。

-->
