  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
      this.page.url = '{{ page.url | absolute_url }}';
      this.page.identifier = '{{ page.url | absolute_url }}';
    };

    (function() {
      var d = document, s = d.createElement('script');

      s.src = 'https://{{ site.disqus.shortname }}.disqus.com/embed.js';

      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<!--  Disqusプラットフォーム（※）をブログやウェブサイトに統合するためのもの。
ブログやウェブサイトのページ内にコメント欄を設置し、読者が投稿したコメントを管理。
Disqusに対して、ページのURLや識別子を設定する設定情報（disqus_config）を渡し、
Disqusのスクリプトを呼び出す処理が含まれている。
また、JavaScriptが無効な場合に表示する文言（<noscript>タグ内）も含まれている。
（※）Disqus：ウェブサイトにコメント機能を追加するためのプラットフォーム。
Disqusを使用すると、ウェブサイトのユーザーは、Facebook、Twitter、Googleなどで
コメントを投稿できる。Disqusは、コメント管理、スパム防止し、コメントセクションの
モデレーションを容易にするためのツールを提供。無料の基本プラン、企業向けの高度な
機能を提供する有料プランまで価格設定オプションあり。 -->
