  <div id="gitment_thread"></div>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/theme-next/theme-next-gitment@1/default.css"/>
  <script src="https://cdn.jsdelivr.net/gh/theme-next/theme-next-gitment@1/gitment.browser.js"></script>
  <script>
    var gitment = new Gitment({
      id: '{{ page.id }}',
      owner: '{{ site.gitment.username }}',
      repo: '{{ site.gitment.repo }}',
      oauth: {
        client_id: '{{ site.gitment.client_id }}',
        client_secret: '{{ site.gitment.client_secret }}',
      },
    });
    gitment.render('gitment_thread')
  </script>

<!-- Gitment(※)というJavaScriptベースのコメントシステムをサイトに統合している。
<div id="gitment_thread"></div> は、Gitmentが表示される場所を定義。
<link> タグは、Gitmentのデフォルトスタイルシートを読み込む。
<script> タグは、Gitmentライブラリを読込み、Gitmentオブジェクトを作成し、
　render() メソッドを使用してGitmentを描画。
このスクリプトは、ページのID、所有者、リポジトリ、OAuthアクセストークンなどの
設定を使用してGitmentオブジェクトを構築し、Gitmentを gitment_thread というIDを持つ
<div> 要素にレンダリングしている。

※Gitment：GitHubのIssue機能を使用して、GitHubリポジトリをバックエンドとして
使用するJavaScriptベースのコメントシステム。
GitHubアカウントを持つユーザーは、サイトの特定のページにコメントを投稿できる。
マークダウン形式のコメントをサポート。オープンソースで、誰でもGitHubリポジトリから
入手して使用することができる。-->
