---
layout: framework
sidebar: archive-list
---

{%- if site.posts.size > 0 -%}

  {% include functions.html func='log' level='debug' msg='Get datetimes value' %}

  {% assign filter = '%Y' %}
  {% include functions.html func='get_datetimes' %}
  {% assign datetimes = return %}

  {% assign keys = datetimes | reverse %}
  {% assign field = 'date' %}
  {% include views/segments.html %}

{%- endif -%}


<!--  
　このコードは、ブログの投稿を「framework」レイアウトに配置し、
　アーカイブリストをサイドバーに表示させている。

　最初に、ブログに投稿がある場合にのみ、get_datetimes関数を呼び出して、
　投稿の日付のリストを取得。
　そして、その日付リストを reverseメソッドで反転させ、keys変数に代入。
　次に、それをsegments.htmlファイルに渡して、日付で投稿をグループ化する方法を定義。

　ここでは、{% include %}構文を使用して、他のテンプレートファイルを読み込んでいる。
　また、functions.htmlという別のファイルをincludeすることで、特定の関数を呼び出すこともできる。

-->
