<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include views/header.html -%}

    {%- include views/banner.html -%}

    {%- include extensions/hashlocate.html -%}

    {%- include extensions/theme-toggle.html -%}

    {%- include extensions/click-to-top.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include views/footer.html -%}

  </body>
</html>


<!--  
　このコードは、HTMLのテンプレートファイルで、head.htmlとviewsフォルダ内の
　他のHTMLファイルをインクルードしている。
　これらは、サイトのヘッダー、バナー、フッターなどの共通の要素を一度に変更できるように
　するためのHTMLコードのスニペット※。
　また、サイトの言語、テーマトグル、クリックしてトップに移動するなどの機能も含まれる。
　content変数には、このテンプレートが適用されるページの実際のコンテンツが含まれている。

　※）スニペット
　再利用可能なコード片やテキストブロックのことを指す。
　プログラミングにおいては、汎用的に使用される関数やクラス、メソッドのコード片を
　スニペットとして保存し、必要に応じてコード内で呼び出すことができる。
　Webデザインにおいては、頻繁に使用されるHTML、CSS、JavaScriptのコード片をスニペットとして保存し、
　Webページ内で利用することができる。
　スニペットは、開発者やデザイナーの作業効率向上、コードの再利用やコードの品質向上にも役立つ。

-->
