---
layout: framework
banner:
banner_html: post-header.html
hidden: []
sidebar:
  - article-menu
---

<div class="post">
  <section>

    {%- assign name = 'banner' -%}
    {%- include functions.html func='get_value' -%}
    {%- assign banner = return -%}

    {%- assign name = 'hidden' -%}
    {%- include functions.html func='get_value' -%}
    {%- assign hidden = return -%}

    {%- assign result = hidden | where_exp: "item", "item == 'header'" -%}
    {%- if banner == nil and result.size == 0 -%}
    {%- include views/post-header.html -%}
    {%- endif -%}

    {%- include views/article.html -%}

    {%- assign result = hidden | where_exp: "item", "item == 'navigator'" -%}
    {%- if result.size == 0 -%}
    <div class="post-nav">
      {%- if page.previous -%}
        <a class="previous" href="{{ page.previous.url | relative_url }}" title="{{
          page.previous.title | escape }}">{{ page.previous.title | escape | truncatewords: 6 }}</a>
      {%- else -%}
      <span></span>
      {%- endif -%}

      {%- if page.next -%}
        <a class="next" href="{{ page.next.url | relative_url }}" title="{{ page.next.title | escape }}">{{ page.next.title | escape | truncatewords: 6 }}</a>
      {%- else -%}
      <span></span>
      {%- endif -%}
    </div>
    {%- endif -%}

    {%- assign result = hidden | where_exp: "item", "item == 'related_posts'" -%}
    {%- if result.size == 0 -%}
    <div class="post-related">
      <div>Related Articles</div>
      <ul>
        {% assign posts = site[page.collection] | sample:4 %}
        {%- for post in posts -%}
        <li><a class="post-link" href="{{post.url | relative_url}}" title="{{ page.next.title | escape }}">{{ post.title | escape | truncatewords: 12 }}</a></li>
        {%- endfor -%}
      </ul>
    </div>
    {%- endif -%}

    {%- assign result = hidden | where_exp: "item", "item == 'comments'" -%}
    {%- if result.size == 0 -%}
    <div class="post-comments">
      {%- if page.comments != false -%}

      {%- if site.disqus.shortname -%}
      {%- include extensions/comments/disqus.html -%}
      {%- endif -%}

      {%- if site.gitment.username -%}
      {%- include extensions/comments/gitment.html -%}
      {%- endif -%}

      {%- if site.utterances.repo -%}
      {%- include extensions/comments/utterances.html -%}
      {%- endif -%}

      {%- endif -%}
    </div>
    {%- endif -%}

  </section>
</div>


<!--  
　このコードは、post-header（記事のヘッダー）に関するコード。
　ヘッダーの表示内容には、タイトル、作成日時、作成者、サムネイル画像、カテゴリ、タグなどが
　含まれることがある。
　このファイルは、記事の表示に必要な情報を整理して表示するために使われる

　ここでは framework という名前のレイアウトが指定されている。
　このレイアウトには、フレームワーク、バナー、サイドバーなどの共通要素が含まれる。

　bannerはページのバナーを定義、banner_htmlには post-header.html というファイルが指定されている。
　これは、ページの見出しに使用されるHTMLファイルを指定するもの。

　sidebarはページのサイドバーを定義するもので、ここでは article-menu という名前のファイルが
　指定されている。これは、サイドバーに表示されるメニューを定義するHTMLファイル。
　
　その他の部分では、ページの要素を動的に生成している。
　たとえば、post-header.htmlファイルが存在しない場合、views/post-header.htmlファイルを読み込んで
　投稿の見出しを表示。
　また、hiddenという配列に「header」、「navigator」、「related_posts」、「comments」などの値が
　設定されている場合、それらの要素を非表示にする。

-->
