---
layout: framework
sidebar: tag-list
---

{%- if site.posts.size > 0 -%}

  {%- include functions.html func='log' level='debug' msg='Get tags value' -%}
  {%- include functions.html func='get_tags' -%}
  {% assign tags = return %}

  {% assign keys = tags %}
  {% assign field = 'tags' %}
  {%- include views/segments.html -%}

{%- endif -%}


<!--  
　このコードは、記事に付けられたタグをサイドバーに表示するためのもの。
　sidebar: tag-listという設定で、タグ一覧を表示するためのサイドバーの
　レイアウトが指定されている。
　また、get_tagsというカスタム関数を使って、サイト内の全てのタグを取得し、
　views/segments.htmlというテンプレートを使って、タグをリンク付きの
　リストとして表示している。

-->
