{% if include.params.article %}
  {% assign article = include.params.article %}
{% endif %}

{% if include.params.lang %}
  {% assign lang = include.params.lang %}
{% else %}
  {% assign lang = lang | default: site.lang | default: "en" %}
{% endif %}

{% if include.params.speed %}
  {% assign speed = include.params.speed %}
{% else %}
  {% assign speed = 160 %}
{% endif %}

{%- include functions.html func='get_article_words' -%}
{% assign words = return %}

{% assign total_mins = words
  | divided_by: speed
  | at_least: 1 %}

{% assign hours = total_mins | divided_by: 60 %}
{% assign mins = total_mins | modulo: 60 %}

{% assign return = "About" %}

{% if hours > 0 %}
  {% assign unit = "hour" %}
  {% if hours > 1 %}
    {% assign unit = unit | append: "s" %}
  {% endif %}
  {% assign return = return
    | append: " "
    | append: hours
    | append: " "
    | append: unit %}
{% endif %}

{% assign unit = "min" %}
{% if mins > 1 %}
  {% assign unit = unit | append: "s" %}
{% endif %}
{% assign return = return
  | append: " "
  | append: mins
  | append: " "
  | append: unit %}


<!-- 
　このコードは、指定された記事の読了時間を計算し、"About x minutes"または
　"About x hours y minutes"という形式の文字列を返すためのもの。

　まず、include.paramsからarticle、lang、speedという値を取得し、
　それぞれarticle、lang、speedという変数に代入。
　langとspeedは指定されていない場合、それぞれsite.langと160にデフォルト値が設定される。

　functions.htmlというファイルからget_article_wordsという関数を読み込み、
　return変数にその戻り値を代入。この関数は、指定された記事の単語数を返す。

　wordsの単語数から、記事の読了時間を計算し、total_minsに代入。
　このとき、読了時間が1分未満の場合、最低でも1分に設定。

　total_minsから、時間と分の単位に分けて計算し、"About x minutes"または
　"About x hours y minutes"という形式の文字列をreturn変数に代入。
　最後に、return変数の値が返される。

　一般的には、約200〜250語を1分程度の読了時間として扱うことが一般的、
　そのため、Liquidコード中では、1分あたりの単語数を speed 変数で指定し、
　単語数を読了時間に変換している。

 -->
