{% if include.params.filter %}
  {% assign filter = include.params.filter %}
{% endif %}

{% assign split_mark = '<|>' %}

{% assign dates = '' %}
{% for post in site.posts %}
  {% assign name = post.date | date: filter %}
  {% assign dates = dates | append: split_mark  | append: name %}
{% endfor %}

{% assign return = dates
  | remove_first: split_mark
  | split: split_mark
  | sort: self
  | uniq %}


<!--
　このコードは、サイトの投稿（site.posts）から取得された日付データを
　フィルタリングして、日付値を返す。
　
　最初のブロックは、include.params.filterという変数が存在する場合に、
　filter変数にその値を設定するためのもの。
　filterは、日付をフォーマットするための変数で、例えば"%Y-%m"とすると、
　投稿日付から年月を抽出することができる。

　2番目のブロックは、site.postsから日付を取得するためのforループ。
　ループは、各投稿の日付をfilterでフォーマットして、dates変数に追加。
　split_markは区切り記号として使われ、一覧を構築するときに使用。

　3番目のブロックは、一覧から重複を削除し、return変数に結果を格納。
　結果は、一覧の値をユニークにしたもので、sortメソッドによってソートされる。
 
-->
