{% if include.params.article %}
  {% assign article = include.params.article %}
{% endif %}

{% if include.params.lang %}
  {% assign lang = include.params.lang %}
{% else %}
  {% assign lang = lang | default: site.lang | default: "en" %}
{% endif %}

{% assign words = article | number_of_words %}

{% if lang != "en" %}
  {% assign words = words
    | times: 0.6
    | round %}
  {% assign words = article
    | strip_html
    | strip_newlines
    | size
    | times: 0.4
    | plus: words
    | round %}
{% endif %}

{% assign return = words %}


<!-- 
このコードは、与えられた記事の言語と単語数を計算（※）するためのもの。
※）記事の抜粋を生成するために使用。
　例）ブログの記事一覧ページで、各記事の一部を抜粋表示する場合、
　　　記事全体を表示するのではなく、一定数の単語数に制限した抜粋を
　　　表示することが一般的。このような場合に、記事の単語数を計算して、
　　　一定数の単語数に制限した抜粋を生成することができる

{% if include.params.article %} と {% endif %}：
include.params.articleが存在する場合、この条件分岐の中のコードが
実行される。
article という変数に include.params.article の値が代入される。
つまり、このブロックは article の定義を行っている。

{% if include.params.lang %} と {% else %} と {% endif %}：
include.params.lang が存在する場合、lang 変数に include.params.lang の
値が代入される。もし include.params.lang が存在しない場合、 
lang 変数に site.lang の値、もしくは "en" が代入される。
このブロックは、言語を指定するための lang 変数の定義を行っている。

{% assign words = article | number_of_words %}：
article 変数の中に含まれる単語数を words 変数に代入。

{% if lang != "en" %} と {% endif %}：
言語が英語でない場合、この条件分岐の中のコードが実行される。
ここでは、記事の単語数を計算する方法が変わる。 words 変数には英語の
場合の単語数が代入されているが、他の言語の場合は正確な単語数を求める
ことが難しい場合があるため、英語の場合の単語数を基準に、他の言語の
単語数を見積もる。ここでは、英語の場合の単語数に0.6を乗じ、
四捨五入した値に、記事の中のHTMLタグと改行を取り除いた文字列の長さに
0.4を乗じた値を加え、最終的な単語数を求めます。

{% assign return = words %}：
最終的な単語数を return 変数に代入。この return 変数は、別のファイルで
使用されることがあるため、この変数が含まれるブロックは、この変数の値を
定義するためのもの

-->
