{% assign split_mark = '<|>' %}

{% assign categories = '' %}
{% for category in site.categories %}
  {% assign name = category | first %}
  {% assign categories = categories | append: split_mark  | append: name %}
{% endfor %}

{% assign return = categories
  | remove_first: split_mark
  | split: split_mark
  | sort: self %}

  
<!--   
  このコードは、サイトのフッターに表示するカテゴリリストを作成するためのもの。

　最初に、変数split_markに'<|>'という文字列を代入、この変数は、カテゴリ名の間に
　入れる区切り文字列として使われる。
　　次に、categoriesという空の文字列を定義、ループ処理でサイトの全てのカテゴリを取得、
　カテゴリ名をname変数に格納している。
　その後、categoriesに区切り文字列とカテゴリ名を連結して、カテゴリリストを作成。

　最後に、return変数に作成したカテゴリリストを格納し、remove_firstフィルターを使用して、
　先頭の区切り文字列を削除。その後、splitフィルターを使用して、カテゴリ名をリストに分割し、
　sortフィルターを使用して、カテゴリ名をアルファベット順にソート。

　最後に、フッターにカテゴリリストを表示するための方法は？？

-->
